###############################################################################
# monthly_shipment_export_dir.config
###############################################################################

# ----- Application paths --------------------------------------------------- #
HomeDir=/corp/analytics/shiplogistics/app/monthly_shipment_export
CommonHomeDir=/corp/analytics/shiplogistics/app/common
ConfigDir=${HomeDir}/config
LogDir=${HomeDir}/logs
ScriptDir=${HomeDir}/scripts
TmpDir=${HomeDir}/tmp
HdlDir=${HomeDir}/hdl
OutboundStaging=${HomeDir}/outbound

# ----- Job metadata -------------------------------------------------------- #
system=monthly_shipment_export
system_desc="Monthly PySpark export of shipment_summary to CSV"

# ----- Cluster / queue ----------------------------------------------------- #
mapred_qname=shiplogistics

# ----- Database names ------------------------------------------------------ #
cs_db=hivesrcdb
uc_db=shiplogistics_db
dim_db=shiplogistics_dim_db

# ----- Date variables ------------------------------------------------------ #
# Export the PREVIOUS month (this job runs on the 1st of the month)
export_year_month=$(date -d "-1 month" +"%Y-%m")
run_dt=$(date +"%Y-%m-%d")
year_month_day=$(date +"%Y%m%d")

# ----- Output paths -------------------------------------------------------- #
ExportFileName=shiplogistics_summary_${export_year_month}.csv
ExportLocalPath=${OutboundStaging}/${ExportFileName}
SftOutboundDir=/corp/sft/outbound/shiplogistics

# ----- PySpark binary & launcher ------------------------------------------ #
SparkSubmit=/corp/platform/spark/bin/spark-submit
PySparkScript=${ScriptDir}/monthly_shipment_export.py
SparkConfDir=/corp/platform/spark/conf
SparkDriverMemory=4g
SparkExecutorMemory=4g
SparkExecutorCores=2
SparkNumExecutors=4

# ----- Notification -------------------------------------------------------- #
DistributionEmail=[REDACTED_EMAIL_ADDRESS_1]
